################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SaintMichel/FileContentIndex/1f36604d-555c-4cf5-9ebe-7569e8423226.vsidx
/.vs/SaintMichel/FileContentIndex/5c0c5bea-4a6f-4e91-ab22-ea7075dd4ea0.vsidx
/.vs/SaintMichel/FileContentIndex/63140d26-d0de-4b78-bf2b-ee9189938854.vsidx
/.vs/SaintMichel/FileContentIndex/b4b45c26-05bd-478e-b670-fd8c15b8792f.vsidx
/.vs/SaintMichel/FileContentIndex/df7c78c2-c5bf-4add-9225-c8a7c184a65f.vsidx
/.vs/SaintMichel/FileContentIndex/5d50bcf8-c9fb-4294-bcf6-2153522dfe0d.vsidx
/.vs/SaintMichel/FileContentIndex/61d7d924-8828-48e5-af1d-03175677a0a2.vsidx
/.vs/SaintMichel/FileContentIndex/7a4e6d30-9cde-4b16-b424-c8ffb7ae4859.vsidx
/.vs/SaintMichel/FileContentIndex/a8201c16-ef94-4937-b4a1-c797621bc745.vsidx
/.vs/SaintMichel/FileContentIndex/b102b704-2c95-4956-b387-9e7ecab7c296.vsidx
/.vs/SaintMichel/FileContentIndex/cc98bb89-5d77-45bf-83c3-15ef9a3d8488.vsidx
/.vs/SaintMichel/FileContentIndex/e294d12a-4e1a-4135-a076-df8942cdab67.vsidx
