################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SaintMichel/FileContentIndex/1f36604d-555c-4cf5-9ebe-7569e8423226.vsidx
/.vs/SaintMichel/FileContentIndex/5c0c5bea-4a6f-4e91-ab22-ea7075dd4ea0.vsidx
/.vs/SaintMichel/FileContentIndex/63140d26-d0de-4b78-bf2b-ee9189938854.vsidx
/.vs/SaintMichel/FileContentIndex/b4b45c26-05bd-478e-b670-fd8c15b8792f.vsidx
/.vs/SaintMichel/FileContentIndex/df7c78c2-c5bf-4add-9225-c8a7c184a65f.vsidx
/.vs/SaintMichel/FileContentIndex
.vs/SaintMichel/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
.vs/SaintMichel/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/SaintMichel/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
.vs/SaintMichel/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/SaintMichel/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
.vs/SaintMichel/v17/DocumentLayout.json
.vs/SaintMichel/v17/DocumentLayout.backup.json
.vs/SaintMichel/v17/.suo
.vs/SaintMichel/v17/.futdcache.v2
.vs/SaintMichel/DesignTimeBuild/.dtbcache.v2
.vs/SaintMichel/CopilotIndices/17.12.31.40377/SemanticSymbols.db-wal
.vs/SaintMichel/CopilotIndices/17.12.31.40377/SemanticSymbols.db
.vs/SaintMichel/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
